<div class="auth-background">
  <mat-card class="auth-card">
    <h2>Reset Your Password</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button
        mat-raised-button
        style="background-color: var(--color-secondary); color: var(--color-neutral-light)"
        class="full-width"
        type="submit"
        [disabled]="form.invalid"
      >
        Reset Password
      </button>
    </form>
  </mat-card>
</div>
