.featured-lawyers {
  padding: 4rem 2rem;
  text-align: center;
}

.lawyer-grid {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 1rem 0;
}

.lawyer-grid::-webkit-scrollbar {
  display: none;
}

.lawyer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  min-width: 20%;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.lawter-specializations {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-profile-btn {
  margin-top: auto;
}

.lawyer-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 680px) {
  .lawyer-card {
    min-width: 80%;
  }
}
