<div class="register-background">
  <mat-card class="register-card">
    <h2>Create Your Account</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="fullName" required />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" formControlName="PhoneNumber" required />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button
        mat-raised-button
        style="background-color: var(--color-secondary); color: var(--color-neutral-light)"
        class="full-width"
        type="submit"
      >
        Register
      </button>
    </form>

    <p class="footer-link">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </mat-card>
</div>
