.hero {
  background: url("/court_house.jpg") center/cover no-repeat;
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(27, 42, 65, 0.75);
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons button {
  margin: 0 1rem;
}
