<section class="hero">
  <div class="overlay">
    <h1 class="title">Reaching New Heights in Legal Excellence</h1>
    <p class="subtitle">Your Case, Our Apex Priority.</p>
    <div class="buttons">
      <button mat-raised-button style="background-color: var(--color-secondary); color: var(--color-neutral-light)">
        Book a Consultation
      </button>
      <button mat-stroked-button style="border: 1px solid var(--color-secondary); color: var(--color-secondary)">
        Meet Our Lawyers
      </button>
    </div>
  </div>
</section>
