.services {
  padding: 4rem 2rem;
  text-align: center;
}

.grid {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding: 1rem 0;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.grid::-webkit-scrollbar {
  display: none;
}

.card {
  background: white;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  padding: 1.5rem;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  flex: 0 0 auto;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.card h3 {
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card mat-icon {
  font-size: 2rem;
  color: var(--color-secondary);
}

@media (max-width: 680px) {
  .card {
    width: 100px;
    height: 150px;
  }

  .card h3 {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
