<div class="login-background">
  <mat-card class="login-card">
    <h2>Welcome Back</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <div class="actions">
        <button
          mat-raised-button
          style="background-color: var(--color-secondary); color: var(--color-neutral-light)"
          color="primary"
          type="submit"
        >
          Log In
        </button>
        <a class="forgot-link" routerLink="/forgot-password"> Forgot Password? </a>
      </div>
    </form>

    <p class="footer-link">
      Don’t have an account?
      <a routerLink="/register">Register</a>
    </p>
  </mat-card>
</div>
